<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小兵的博客</title>


</head>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="../../static/css/mycss.css">

<body background="../../static/images/bg.png">
<div id="app">
    <el-container>
        <!--页头-->
        <el-header>
            <el-row class="bg-headerfooter">
                <el-col :xs="24" :xl="4">
                    <div class="grid-content bg-headerfooter" style="height: 50px;text-align: center;padding-top: 10px">
                        <font size="5px" color="#808080"><b>管理后台</b></font>
                    </div>
                </el-col>
                <el-col :xs="24" :xl="12">
                    <div class=" bg-headerfooter" style="height: 50px;">
                        <el-menu :default-active="activeIndex" class="el-menu-demo bg-headerfooter"
                                 mode="horizontal" @select="handleSelect">
                            <el-menu-item index="1"><a href="/admin/blogs" target="_blank" style="text-decoration:none;"><i class="el-icon-s-home"></i>博客</a></el-menu-item>
                            <el-menu-item index="2"><a href="/admin/typesm" target="_blank" style="text-decoration:none;"><i class="el-icon-menu"></i>分类</a></el-menu-item>
                            <el-menu-item index="3"><i class="el-icon-price-tag"></i>标签</el-menu-item>
                        </el-menu>
                    </div>
                </el-col>
                <el-col :xs="24" :xl="8">
                    <div class="grid-content bg-headerfooter" style="height: 50px;text-align: center;padding-top: 10px">
                        <el-dropdown @command="handleCommand">
                            <span style="font-size: 15px">
                                <el-avatar :size="30" :src="avatar" style="margin-top: 5px;float: left"></el-avatar>
                                <span style="float: left;margin-left: 15px;margin-top: 10px">肖斌</span>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item command="loginout">注销</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </el-col>
            </el-row>
            <el-row style="background: white">
                <el-menu :default-active="activeIndex2"  style="float: right;margin-right: 400px" mode="horizontal" @select="handleSelect2">
                    <el-menu-item @click="add()" index="1">发布</el-menu-item>
                    <el-menu-item index="2">列表</el-menu-item>
                </el-menu>
            </el-row>
        </el-header>

        <!--中间-->
        <el-main style="padding-top: 200px">
            <el-row>
                <el-col :xs="24" :xl="{offset:5,span:14}">
                    <el-row class="bg-papayawhip" style="padding: 10px;border: 1px solid grey;border-radius: 4px">
                        <el-table
                                :data="tableData"
                                style="width: 100%"
                                stripe
                                border>
                            <el-table-column
                                    type="index"
                                    width="50">
                            </el-table-column>
                            <el-table-column
                                    prop="name"
                                    label="标签"
                                    width="450">
                            </el-table-column>
                            <el-table-column label="操作">
                                <template slot-scope="scope">
                                    <el-button
                                            type="primary"
                                            size="mini"
                                            @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                    <el-button
                                            size="mini"
                                            type="danger"
                                            @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-button-group style="margin: 10px">
                            <el-button  plain icon="el-icon-arrow-left" @click="tagPage((pageNum-1)>0?pageNum-1:1)">上一页</el-button>
                            <el-button  plain @click="tagPage((pageNum+1)<Math.floor(tagNums/10)+(tagNums%10==0?1:2)?(pageNum+1):Math.floor(tagNums/10)+(tagNums%10==0?0:1))">下一页<i class="el-icon-arrow-right el-icon--right"></i></el-button>
                        </el-button-group>
                        <el-button style="float: right;margin: 10px" type="success" @click="add()" plain>新增</el-button>
                    </el-row>
                </el-col>
            </el-row>
        </el-main>

        <!--底部-->
        <el-footer style="padding-top: 50px">
            <el-row :xs="24" :xl="5" class="bg-headerfooter" style="padding-top: 50px">
                <el-col :xs="24" :xl="5" style="text-align: center">
                    <el-image
                            style="width: 200px; height: 200px"
                            :src="wechatImage"
                            :fit="fit"></el-image>
                </el-col>
                <el-col :xs="24" :xl="5" style="text-align: center;color: white">
                    <h4>最新博客</h4>
                    <el-container  direction="vertical">
                        <a href="#" target="_blank" style="text-decoration: none;color: white" v-for="blog in newBlog">{{blog.title}}</a>
                    </el-container>
                </el-col>
                <el-col :xs="24" :xl="5" style="text-align: center;color: white">
                    <h4>联系我</h4>
                    <el-container  direction="vertical">
                        <span style="font-size: 3px">Email:{{email}}</span>
                        <span style="font-size: 3px">QQ:{{qqnumber}}</span>
                    </el-container>
                </el-col>
                <el-col :xs="24" :xl="9" style="text-align: center;color: white;padding-right: 50px;padding-left: 50px">
                    <h4>最新博客</h4>
                    <p>这是我的个人博客，会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                </el-col>

            </el-row>

            <el-row class="bg-headerfooter" style="padding-bottom: 30px;text-align: center;color: white">
                <el-divider ></el-divider>
                <strong>Copyright &copy; 2020-2020 xiaobin.</strong> All rights reserved.
            </el-row>
        </el-footer>
    </el-container>
</div>
</body>
<script src="../../static/js/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../../static/js/axios.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                activeIndex: '3',
                activeIndex2: '2',
                restaurants: [],
                state: '',
                timeout: null,
                tagNums: 10,
                wechatImage: 'https://unsplash.it/400/400?image=1005',
                avatar: 'https://unsplash.it/100/100?image=1005',
                fit: 'fill',
                tableData: [],
                totalcount: 100,
                email:'2217728002@qq.com',
                qqnumber:2217728002,
                newBlog:[],
                pageNum:1
            };
        },
        created(){
            this.tagPage(1);
            axios.get(`/blog/findNewBlog`).then(response=>{
                this.newBlog=response.data
            });
        },
        methods: {
            tagPage(pageNum){
                axios.get(`/tag/findTagPage/${pageNum}`).then(response=>{
                    this.tableData=response.data.tags
                    this.tagNums=response.data.total
                });
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            handleSelect2(key, keyPath) {
                console.log(key, keyPath);
            },
            handleEdit(index, row) {
                location.href=`/admin/tag-input?tagId=${row.id}`;
            },
            handleDelete(index, row) {
                this.$confirm('确定要删除此记录吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then( () => {
                    axios.get(`/tag/delete?id=${row.id}`).then(response => {
                        this.tagPage(this.pageNum); //刷新列表
                    })
                })
            },
            handleCommand(command) {
                this.$message('click on item ' + command);
            },
            add(){
                location.href=`/admin/tag-input`;
            }
        }
    })
</script>
</html>